[Unit]
Description=Registrator
After=docker.service
Requires=docker.service
After=etcd2.service
Requires=etcd2.service
After=consul.service
Requires=consul.service

[Service]
EnvironmentFile=/etc/environment

Environment=DOCKER_REPOSITORY=gliderlabs/registrator
Environment=DOCKER_CONTAINER=registrator

RemainAfterExit=yes
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill $DOCKER_CONTAINER
ExecStartPre=-/usr/bin/docker rm $DOCKER_CONTAINER
ExecStartPre=/usr/bin/docker pull $DOCKER_REPOSITORY

ExecStart=/bin/sh -c "sleep 10 && /usr/bin/docker run --name $DOCKER_CONTAINER --net=host --volume /var/run/docker.sock:/tmp/docker.sock $DOCKER_REPOSITORY consul://$COREOS_PUBLIC_IPV4:8500"

ExecStop=/usr/bin/docker stop $DOCKER_CONTAINER

[X-Fleet]
Global=true
